*
!tmux
!tmux/
!tmux/*
!tmux/**
tmux/plugins

!frk
!frk/
!frk/*
!frk/**

!fzf
!fzf/
!fzf/*
!fzf/**

!wezterm
!wezterm/
!wezterm/*
!wezterm/**

!gitui
!gitui/
!gitui/*
!gitui/**

nvim

!rbx-nvim
!rbx-nvim/
!rbx-nvim/*
!rbx-nvim/**

!karabiner
!karabiner/
!karabiner/*
!karabiner/**
karabiner/automatic_backups
